@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

body {
  background: #454545;
}

.container {
  padding: 10px;
  background: #1a1f22;
  height: 550px;
  width: 580px;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  box-shadow: 12px 12px 20px #1f1f1f;
}

.container .input-box {
  height: 200px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  overflow-x: scroll;
}

.container .input-box::-webkit-scrollbar {
  display: none;
}

.container .input-box .result {
  color: #fff;
  font-size: 40px;
  position: absolute;
  bottom: 0;
  right: 25px;
}

.container .input-box input {
  all: unset;
  color: grey;
  position: absolute;
  right: 25px;
  bottom: 60px;
  text-align: right;
  font-size: 24px;
}

.container .btns-box {
  position: absolute;
  right: 0;
  top: 200px;
  width: 50%;
  padding: 10px;
  padding-right: 310px;
  display: grid;
  grid-template-columns: repeat(4, 4fr);
}

.container .btns-box .btn,
.container .btns-box .btns,
.container .btns-box #ac,
.container .btns-box #del-btn {
  all: unset;
  width: 50px;
  height: 50px;
  float: left;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
  margin-top: 10px;
  border: 1px solid #24282e;
  border-radius: 7px;
  cursor: pointer;
  font-weight: 600;
  font-size: 21px;
}

.container .btns-box #ac,
.container .btns-box #del-btn {
  background: orange;
  border-radius: 50%;
  color: #000;
}
.container .btns-box .bg-btn {
  color: black;
  background: orange;
  border-radius: 50%;
}

.container .btns-box .shift {
  position: relative;
  left: 0px;
}

.container .input-box .toggle-btn {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 15px;
  font-size: 20px;
}

.container .input-box .toggle-btn {
  position: absolute;
  cursor: pointer;
}

.container .input-box .toggle-btn #light-m-btn {
  color: white;
}

.container .input-box .toggle-btn #dark-m-btn {
  color: grey;
  display: none;
}

.container .btns-box .shift.eq {
  background: orange;
  border-radius: 50%;
  color: #000;
}

.container .sci-btns {
  height: 300px;
  width: 230px;
  background: #454545;
  border-radius: 7px;
  padding: 15px;
  margin-left: 8px;
  position: absolute;
  bottom: 30px;
  left: 20px;
  transition: all 0.2s;
}

.container .sci-btns .sci-btn {
  all: unset;
  height: 35px;
  width: 45px;
  float: left;
  margin-left: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  margin-top: 30px;
  font-size: 21px;
  margin-left: 15px;
  position: relative;
  top: -13px;
  cursor: pointer;
  border-radius: 7px;
}

.container .sci-btns .pow-btn .pow {
  position: relative;
  bottom: 0.4em;
  right: 0.1em;
}



.container.light {
  background: #dde6ec;
  
}

.container.light .input-box .result {
  color: #000;
}

.container.light .btns-box .btn,
.container.light .btns-box .btns,
.container.light .btns-box #ac,
.container.light .btns-box #del-btn {
  color: black;
  border-color: #dde6ec;
  background: #dde6ec;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.container.light .btns-box .btns,
.container.light .btns-box #ac,
.container.light .btns-box #del-btn{
  background: orange;
  border-radius: 50%;
}
.container.light .btns-box .bg-btn {
  color: black;
  background: orange;
  border-radius: 50%;
}

.container.light .sci-btns .sci-btn {
  color: black;
}
.container.light .sci-btns{
  background: #dde6ec;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.container.light .btns-box .shift.eq {
  background: orange;
  border-radius: 50%;
  color: #000;
}
